.footerContainer{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: var(--text);
    color: rgba(252, 252, 252, .6);
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}