.offerCardContainer{
    width: 300px;
    height: 390px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary);
    transition: .3s;
    margin: 10px auto;
}

.offerCardContainer:hover {
    transform: scale(0.9);
    transition: .3s;
}

.offerCardContainer > img {
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 420px;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: var(--background);
    align-self: center;
}

.offerCardContainer > h2 {
    font-size: 24px;
    color: var(--primary);
    margin-left: 10px;
    letter-spacing: 8px;
}

.offerCardContainer > .details {
    font: 18px;
    line-height: 22px;
    color: var(--background);
    margin-left: 14px;
    margin-top: 10px;
    font-weight: 500;
}

.prices {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: var(--text);
    border-radius:4px ;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: var(--secondary);
}

